body {
    max-width: 1440px;
    margin: 0 auto;

}

nav {
    display: flex;
    justify-content: space-between;
}


.nav-logo {
    display: flex;

}

.nav-icon {
    display: flex;
    align-items: center;

    gap: 10px;
}

.nav-icon img {
    width: 20px;
    height: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.banner {
    display: flex;
    justify-content: space-between;

}

.nav-menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner-name h2 {
    font-size: 48px;
    font-weight: 700;
    color: #434343;
}

.banner-name p {
    font-size: 24px;
    color: #434343;
}

.banner-img {
    width: 450px;
}

.btn {
    font-size: 18px;
    font-weight: 600;
    background-color: #fe4860;
    color: #FFFFFF;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #f2bb46;
}

.navs {
    background-color: #ffd3d6;
    padding: 50px;

}


.banner-buttons {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: start;
}

/* 2nd section */



.title h2 {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 700;
    color: #434343;
margin-bottom: 0;


}

.title h3 {
    display: flex;
    justify-content: center;
    color: #434343;
    font-size: 48px;
    font-weight: 500;
    margin-top: 0;
}

.card-img {
    width: 635px;
    height: 635px;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    background-color: #ffe6e7;
    margin: 0 auto;
    padding: 50px 50px;
}

.cards {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 50px 0;


}

.card {
    padding: 20px;
    flex: 1;

}

.card h2 {
    font-size: 40px;
    font-weight: 700;
    color: #434343;
}

.card p {
    font-size: 21px;
    color: #434343;
}

.banner-2 {
    margin: 40px 0;
}

/* 3rd section */
.increase {
    flex: 1;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
}

.increase h2 {
    font-size: 28px;
    font-weight: 700;
    color: #434343;
}

.increase p {
    font-size: 20px;
    font-weight: 275px;
}

.likes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-clik {
    font-size: 18px;
    font-weight: 600;
    background-color: #fe5066;
    color: #FFFFFF;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;

}

.clik {
    display: flex;
    justify-content: center;
}

.choose-the-way-section{
    background-color: #ffd3d6;
    padding: 30px;
}

/* 4th section */

.likes-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;

}

.likes-card img{
   width: 302px;
   height: 214px;
   object-fit: contain;
   background-color: #ffebec;
   border-radius: 25px;

}
.likes-card h2{
font-size: 48px;
font-weight: 600;
color: #434343;
margin-bottom: 0;
}
.likes-card p{
   font-size: 15px;
   color: #434343; 
}

/* 5th section */
 
.followers{
  display: flex;
  gap: 50px;
}
.views{
   flex: 1;
   background-color: #FFB0B552;
   padding: 30px;
   border-radius: 20px;
   box-shadow: 4px 4px 16px 4px gray;

}
.tiktok-likes-title{
  font-size: 48px; 
  font-weight: 600;
  color: #434343; 
}

.views-img{
    display: flex;
    justify-content: center;
   background-color: #FFB0B552;
   border-radius: 100%;
   width: 50px;
   padding: 15px;
margin: 0 auto;
}
.views p{
   font-size: 15px; 
   color: #434343;
}

@media screen and (max-width: 600px) {
    .banner {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .banner-img {
        width: 100%;
    }

    .banner-name h2 {
        font-size: 32px;
    }

    .banner-name p {
        font-size: 18px;
    }

    .card {
        padding: 20px;
    }

    .cards {
        flex-direction: column;
        padding: 10px;
    }

    .likes{
        flex-direction: column;
        gap: 10px;
    }

    .choose-the-way-section{
        padding: 10px;
    }

    .card-img{
        width: 60vw;
        height: 100%;
    }
    .card-img img{
        width: 90%;
        height: 60%;
    }

    .likes-cards{
        grid-template-columns: repeat(1 ,1fr);
    }

.likes-card h2{
    font-size: 32px;
}
.tiktok-likes-title{
    font-size: 28px;
    padding: 16px;
}

.followers{
    flex-direction: column;
    margin: 0 16px;
}


}
